#
# Copyright (C) 2021 Kian Cross
#

name: Continuous Integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint-yaml:
    name: Lint action.yml
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: action.yml

  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 12

      - name: Run tests
        run: ./test.js

  integration-test:
    name: Integration Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v5

      - name: Setup action
        uses: ./
    
      - name: Create test warning annotation
        run: "echo '[WARN] /root/foo.java:1:1: Test Warning (${{ matrix.os }}) [TestWarning]'"
      
      - name: Create test error annotation
        run: "echo '[ERROR] /root/foo.java:1:1: Test Error (${{ matrix.os }}) [TestError]'"
